<html lang="en">
  <head>
    <title>RPS!</title>
    <meta charset="UTF-8" name="Rock Paper Scissors" content="RPS with Flask" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div id="link-container">
      <nav>
        <ul>
          <li><a href="/welcome">Rock Paper Scissors!</a></li>
        </ul>
        <ul>
          <li><a href="/play">Play The Computer</a></li>
        </ul>
        <ul>
          <form action="/index">
            <li><a type="submit" href="/index">Test Roll</a></li>
          </form>
        </ul>
      </nav>
    </div>
    <hr />
    {% block content %}
    <!-- Variable content goes here -->
    {% endblock content %}
  </body>
</html>
