{% extends 'base.html' %} {% block content %}
<h1 id="header-welcome">Welcome to RPS!</h1>
<br>
<hr>
<br>
<div id="rules-container">
<h3 >The rules of RPS</h2>
<p>
    The game is played where players deliver hand signals that will represent the elements of the game; rock, paper and scissors. The outcome of the game is determined by 3 simple rules:
</p>
    <ul>
        <li>
            Rock wins against scissors
        </li>
    </ul>
    <ul>
        <li>
            Scissors wins against paper
        </li>
    </ul>
    <ul>
        <li>
            Paper wins against rock
        </li>
    </ul>
</div>

{% endblock content %}
